In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import accuracy_score, classification_report
import numpy as np

In [4]:
file_path = "/Users/ylsstudent/Documents/Data_Analytics_Bootcamp/Projects/BootcampProject4/student_predictor/cleaned_student_mat.csv"
data = pd.read_csv(file_path)

In [6]:
data["Pass_Fail"] = (data["final_grade"] >= 15).astype(int)

In [8]:
data

,school,sex,age,Parent_status,Mother_Edu,Father_Edu,Mjob,Fjob,reason,traveltime,...,nursery,higher,internet,romantic,freetime,goout,health,absences,final_grade,Pass_Fail
0,GP,F,18,A,4,4,at_home,teacher,course,2,...,1,1,0,0,3,4,3,6,6,0
1,GP,F,17,T,1,1,at_home,other,course,1,...,0,1,1,0,3,3,3,4,6,0
2,GP,F,15,T,1,1,at_home,other,other,1,...,1,1,1,0,3,2,3,10,10,0
3,GP,F,15,T,4,2,health,services,home,1,...,1,1,1,1,2,2,5,2,15,1
4,GP,F,16,T,3,3,other,other,home,1,...,1,1,0,0,3,2,5,4,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,A,2,2,services,services,course,1,...,1,1,0,0,5,4,4,11,9,0
391,MS,M,17,T,3,1,services,services,course,2,...,0,1,1,0,4,5,2,3,16,1
392,MS,M,21,T,1,1,other,other,course,1,...,0,1,0,0,5,3,3,3,7,0
393,MS,M,18,T,3,2,services,other,course,3,...,0,1,1,0,4,1,5,0,10,0
394,MS,M,19,T,1,1,other,at_home,course,1,...,1,1,1,0,2,3,5,5,9,0

In [10]:
X = data.drop(columns=["final_grade", "Pass_Fail"])
y = data["Pass_Fail"]

In [12]:
label_encoders = {}
for column in X.select_dtypes(include=["object"]).columns:
    le = LabelEncoder()
    X[column] = le.fit_transform(X[column])
    label_encoders[column] = le

In [14]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [18]:
model = LogisticRegression(max_iter=200)
model.fit(X_train, y_train)

LogisticRegression(max_iter=200)

In [20]:
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)

In [22]:
print(accuracy)
print(y_pred)

0.7721518987341772
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0 0 0 0 0]

In [24]:
feature_importance = pd.DataFrame({
    "Feature": data.drop(columns=["final_grade", "Pass_Fail"]).columns,
    "Coefficient": np.abs(model.coef_[0])  # Absolute values of coefficients
}).sort_values(by="Coefficient", ascending=False)

In [26]:
print(feature_importance)

             Feature  Coefficient
11          failures     0.635502
17            higher     0.625402
18          internet     0.587916
12         schoolsup     0.547317
4         Mother_Edu     0.424267
23          absences     0.368061
10  Study_Time_Hours     0.272084
2                age     0.235539
13            famsup     0.213611
5         Father_Edu     0.177358
22            health     0.175314
14              paid     0.171078
1                sex     0.138220
15        activities     0.127726
7               Fjob     0.125014
21             goout     0.106586
19          romantic     0.104571
3      Parent_status     0.093579
20          freetime     0.072981
6               Mjob     0.039360
0             school     0.036183
16           nursery     0.034166
9         traveltime     0.033220
8             reason     0.005894